---
layout: default
title : Release
description : A description about Release for Google

intro:
  header : Own that car you really want
  desc   : |
    <p>Release is the new way to finance that car you've always wanted.</p>
    <p>The more you share your car with friends or your community, the less you pay.</p>
  cta    : Sign up now
  image  : intro_car_1.png

howitworks:
  header : How It Works
  step1  : Sign up to Release and select your car
  step2  : Share your car with friends and neighbours when your not using it
  step3  : Reducde your costs and own a car you really love
  image  : howitworks_ui_1.png

testimonial:
  quote : With our family quickly growing we needed a bigger 2nd car for weekend family trips. Release allowed us to go for the Land Rover we really wanted but couldn’t quite afford. We save costs by sharing it with friends during the week, we help them out and have our perfect car.
  name  : Louise + Ryan Henry
  image   : testimonial_people_1.png
  bg    : testimonial_bg_1.png

feature_list :
  - text : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    img : img_1.png
  - text : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    img : img_2.png
  - text : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    img : img_3.png
cars:
  header : Cars available on release

car_list :
  - name     : Jaguar XE
    img      : car_1.png
  - name     : Land Rover Evoque
    img      : car_2.png
  - name     : Jaguar F Type
    img      : car_3.png
  - name     : Jaguar XE
    img      : car_1.png
  - name     : Land Rover Evoque
    img      : car_2.png
  - name     : Jaguar F Type
    img      : car_3.png

outro:
  header: Own that dream car today
  cta   : Sign up now

---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="header__logo two columns">
        <a href="/"><img src="/assets/images/release_logo.svg"></a>
      </div>
      <div class="header__menu ten columns">
        <ul>
          <li><a href="#howitworks">How It Works</a></li>
          <li><a href="#cars">Cars Avaiable</a></li>
          <li><a class="button" href="">Sign Up Now</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section class="content intro">
  <div class="container">
    <div class="row">

      <h1 class="intro__header">
        {{ page.intro.header }}
      </h1>

      <div class="intro__desc">
        {{ page.intro.desc }}
        <div class="intro__cta">
          <a href="" class="button">{{ page.intro.cta }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__img" style="background-image: url('/assets/images/{{page.intro.image}}')"></div>

</section >

<section  class="content howitworks" id="howitworks">
  <div class="container">
    <div class="row">
      <h2>{{ page.howitworks.header }}</h2>
      <div class="howitworks__steps">
        <div class="howitworks__step howitworks__step-1">
          <span>1</span>
          <div>{{ page.howitworks.step1 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-2">
          <span>2</span>
          <div>{{ page.howitworks.step2 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-3">
          <span>3</span>
          <div>{{ page.howitworks.step3 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworks__img">
    <img src="/assets/images/{{page.howitworks.image}}">
  </div>

</section >

<section  class="content testimonial" style="background-image: url('/assets/images/{{page.testimonial.bg}}');">
  <div class="container">
    <div class="row">
      <div class="testimonial__bubble">
        <div class="testimonial__quote">{{ page.testimonial.quote }}</div>
        <div class="testimonial__name">{{ page.testimonial.name}}</div>
      </div>
      <div class="testimonial__image">
        <img src='/assets/images/{{page.testimonial.image}}'>
      </div>
    </div>
  </div>
</section >

<section class="content features">
  <div class="container">
    <div class="row">
      {% for feature in page.feature_list %}
        <div class="feature">
          <div class="feature__img"><img src="{{feature.img}}"></div>
          <div class="feature__text">{{feature.text}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="content cars" id="cars">
  <div class="container">
    <div class="row">
      <h2 class="center">{{page.cars.header}}</h2>
      <ul>
        {% for car in page.car_list %}
          <li class="car">
            <div class="car__img">
              <img src="/assets/images/{{car.img}}">
            </div>
            <div class="car__name">{{car.name}}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section >

<section class="content outro">
  <div class="container">
    <div class="row">
      <div class="outro__header">{{page.outro.header}}</div>
      <div class="outro__cta"><a href="">{{page.outro.cta}}</a></div>
      <div class="outro__logo">
        <img src="/assets/images/release_logo_white.svg">
      </div>
    </div>
  </div>
</section>
