<div class="header">
  <div class="container">
    <div class="row">
      <div class="header__logo">
        <span><img src="/assets/images/release_logo.svg"></span>
      </div>
    </div>
  </div>
</div>


<section class="content intro">
  <div class="container">
    <div class="row">

      <h1 class="intro__header">
        {{ page.intro.header }}
      </h1>

      <div class="intro__desc">
        {{ page.intro.desc }}
      </div>
    </div>
  </div>
  <div class="intro__img" style="background-image: url('/assets/images/{{page.intro.image}}')"></div>
</section >

{% include splitcta.html %}

<section  class="content howitworks" id="howitworks">
  <div class="container">
    <div class="row">
      <h2>{{ page.howitworks.header }}</h2>
      <div class="howitworks__steps">
        <div class="howitworks__step howitworks__step-1">
          <span>1</span>
          <div>{{ page.howitworks.step1 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-2">
          <span>2</span>
          <div>{{ page.howitworks.step2 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-3">
          <span>3</span>
          <div>{{ page.howitworks.step3 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworks__img">
    <img src="/assets/images/{{page.howitworks.image}}">
  </div>

</section >

<section  class="content testimonial" style="background-image: url('/assets/images/{{page.testimonial.bg}}');">
  <div class="container">
    <div class="row">
      <div class="testimonial__bubble">
        <div class="testimonial__quote">{{ page.testimonial.quote }}</div>
        <div class="testimonial__name">{{ page.testimonial.name}}</div>
      </div>
      <div class="testimonial__image">
        <img src='/assets/images/{{page.testimonial.image}}'>
      </div>
    </div>
  </div>
</section >

{% include splitcta.html %}

<section class="logo-outro">

  <img src="assets/images/release_logo_white.svg">

</section>
