<div class="header">
  <div class="container">
    <div class="row">
      <div class="header__logo">
        <a href="/"><img src="/assets/images/release_logo.svg"></a>
      </div>
      <div class="header__menu">
        <ul>
          <li><a href="#howitworks">How It Works</a></li>
          <li><a href="#cars">Cars Available</a></li>
          <li><a class="button" href="{{page.cta-link}}">{{site.data.shared.header.cta}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section class="content intro">
  <div class="container">
    <div class="row">

      <h1 class="intro__header">
        {{ page.intro.header }}
      </h1>

      <div class="intro__desc">
        {{ page.intro.desc }}
        <div class="intro__cta">
          <a href="{{ page.cta-link }}" class="button">{{ page.intro.cta }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__img" style="background-image: url('/assets/images/{{page.intro.image}}')"></div>

</section >

<section  class="content howitworks" id="howitworks">
  <div class="container">
    <div class="row">
      <h2>{{ page.howitworks.header }}</h2>
      <div class="howitworks__steps">
        <div class="howitworks__step howitworks__step-1">
          <span>1</span>
          <div>{{ page.howitworks.step1 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-2">
          <span>2</span>
          <div>{{ page.howitworks.step2 }}</div>
        </div>
        <div class="howitworks__step howitworks__step-3">
          <span>3</span>
          <div>{{ page.howitworks.step3 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworks__img">
    <img src="/assets/images/{{page.howitworks.image}}">
  </div>

</section >

<section  class="content testimonial" style="background-image: url('/assets/images/{{page.testimonial.bg}}');">
  <div class="container">
    <div class="row">
      <div class="testimonial__bubble">
        <div class="testimonial__quote">{{ page.testimonial.quote }}</div>
        <div class="testimonial__name">{{ page.testimonial.name}}</div>
      </div>
      <div class="testimonial__image">
        <img src='/assets/images/{{page.testimonial.image}}'>
      </div>
    </div>
  </div>
</section >

<section class="content features">
  <div class="container">
    <div class="row">
      {% for feature in page.feature_list %}
        <div class="feature">
          <div class="feature__header"><h3>{{feature.header}}</h3></div>
          <div class="feature__text">{{feature.text}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="content cars" id="cars">
  <div class="container">
    <div class="row">
      <h2 class="center">{{page.cars.header}}</h2>
      <ul>
        {% for car in site.data.cars.car_list %}
          <li class="car">
            <div class="car__img">
              <img src="/assets/images/car_thumbs/{{car.img}}">
            </div>
            <div class="car__name">{{car.name}}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section >

<section class="content outro">
  <div class="container">
    <div class="row">
      <div class="outro__header">{{page.outro.header}}</div>
      <div class="outro__cta"><a href="{{ page.cta-link }}">{{page.outro.cta}}</a></div>
      <div class="outro__logo">
        <img src="/assets/images/release_logo_white.svg">
      </div>
    </div>
  </div>
</section>
