$brand-border : #C3C3C3;

.lead {
  font-size: 18px;
}

section.content {
  padding: 3em 0;
}

.header {
  padding: 50px 0 0px 0;
}

.header .container {
  padding-bottom: 20px;
  border-bottom: solid 1px #C3C3C3;
}

.header__logo {
  @extend .columns;
  @extend .three;
  position: relative;
}

.header__logo a {
  width: 50%;
  display: block;
  @media (min-width: 450px) {
    width: 100%;
  }
}

.header__logo img {
  width: 100%;
  display: block;
}


.header__menu {
  display: none;
  @extend .columns;
  @extend .nine;
  @media (min-width: 800px) {
    display: block;
  }
}

.header__menu  ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__menu  li {
  display: inline-block;
}

.header__menu  li a {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  color: #858585;
  &:hover {
    color: #000;
  }
}

.intro {
  position: relative;
  margin-bottom: 0;
  @media (min-width: 450px) {
    margin-bottom: 3em;
  }
}

.intro__header {
  @extend .columns;
  @extend .twelve;
}

.intro__desc {
  @extend .columns;
  @extend .six;
  float: right;
}

.intro__img {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 521px) {
    position: absolute;
    bottom: 0;
    width: 48%;
    height: 100%;
    background-position: bottom left;
  }
}

.intro__cta a {
  font-family: 'InputSans-Bold';
  text-transform: none;
  font-size: 1.2em;
  width: 100%;
  // background: #F7F7F7;
  // border: solid 1px $brand-border;
  height: auto;
  line-height: 4em;
  background: #FFB943;
  color: #956513;
  border: none;
  &:hover {
    background: lighten(#FFB943, 2);
  }
}

section.content.howitworks {
  background: #F7F7F7;
  border-top: solid 1px $brand-border;
  border-bottom: solid 1px $brand-border;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

.howitworks__steps {
  @media (max-width: 880px) {
    width: 100%;
  }
  @extend .columns;
  @extend .six;
}

.howitworks__img {
  display: block;
  text-align: center;
  @media (min-width: 880px) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
  }
}

.howitworks__img img {
  margin: 0 auto;
  display: block;
}

.howitworks__step {
  width: 100%;
  display: block;
  float: left;
  font-size: 1.4em;
}

.howitworks__step span {
  margin-right: 1em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: solid 1px $brand-border;
  border-radius: 100px;
  text-align: center;
  float: left;
}

.howitworks__step div {
  padding-top: .55em;
  overflow: hidden;
}

.howitworks h5 {
  margin-bottom: 10px;
}

.testimonial {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial__bubble,
.testimonial__image {
  @extend .columns;
  @extend .six;
}

.testimonial__bubble {
  background: rgba(225,225,225,.95);
  padding: 2em;
  border-radius: 10px;
}

.testimonial__name {
  @extend strong;
  margin-top: 1em;
}

.testimonial__image {
  text-align: center;
  margin-top: 1em;
}

.testimonial__image img {
  display: inline-block;
}

.cars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.car {
  float: left;
  margin-bottom: 1em;
  width: 33.3%;
  @media (max-width: 900px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
  // @media (max-width: 601px) {
  //   width: 50%;
  // }
  // width: 33.3%;
}

.car > div {
  padding: 0 40px;
}

.car__name {
  text-align: center;
}

.car__img {
  text-align: center;
}

section.outro.content {
  text-align: center;
  background: url('/assets/images/outro_bg.png') center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 0;
}

.outro .button {
  background: #FFB943;
  color: #956513;
  border: none;
  height: auto;
  line-height: 3em;
  text-transform: none;
  padding: 0 50px;
  font-size: 1.5em;
  margin-bottom: 4em;
}

.outro__header,
.outro__cta {
  display: inline-block;
  width: 100%;
}

.outro__header {
  @extend h1;
}

.outro__cta a {
  @extend .button;
}

.feature {
  @extend .columns;
  @extend .four;
  padding: 40px 0;
}

.feature__img {
  text-align: center;
  margin-bottom: 1em;
  img {
    display: inline-block;
  }
}

.center {
  text-align: center;
}

.logo-outro {
  background: #000;
  padding: 3em 0;
  text-align: center;
  width: 100%;
  img {
    display: inline-block;
    width: 200px;
  }
}

.logos .logo {
  @extend .columns;
  @extend .six;
  text-align: center;
  padding-bottom: 3em;
}

.logos .logo img {
  display: inline-block;
}
