@font-face {
  font-family: 'InputSans-Regular';
  src: url('/assets/fonts/is.eot');
 }

@font-face {
  font-family: 'InputSans-Regular';
  src: url('/assets/fonts/is.woff') format('woff'),
  url('/assets/fonts/is.svg#InputSans-Regular') format('svg');
 }

@font-face {
  font-family: 'InputSans-Light';
  src: url('/assets/fonts/InputSans-Light.eot');
}

@font-face {
  font-family: 'InputSans-Light';
  src: url('/assets/fonts/InputSans-Light.woff') format('woff'),
  url('/assets/fonts/InputSans-Light.svg#InputSans-Light') format('svg');
}

@font-face {
  font-family: 'InputSans-Bold';
  src: url('/assets/fonts/InputSans-Bold.eot');
}

@font-face {
  font-family: 'InputSans-Bold';
  src: url('/assets/fonts/InputSans-Bold.woff') format('woff'),
  url('/assets/fonts/InputSans-Bold.svg#InputSans-Bold') format('svg');
}

@font-face {
  font-family: 'InputSans-Thin';
  src: url('/assets/fonts/InputSans-Thin.eot');
}

@font-face {
  font-family: 'InputSans-Thin';
  src: url('/assets/fonts/InputSans-Thin.woff') format('woff'),
  url('/assets/fonts/InputSans-Thin.svg#InputSans-Thin') format('svg');
}
